[submodule "lib/qlementine"]
	path = lib/qlementine
	url = https://github.com/zxunge/qlementine.git
[submodule "lib/reflect-cpp"]
	path = lib/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
