[submodule "src/3rdparty/qwindowkit"]
	path = src/3rdparty/qwindowkit
	url = https://github.com/stdware/qwindowkit.git
[submodule "src/3rdparty/QJSONConfig"]
	path = src/3rdparty/QJSONConfig
	url = git@github.com:zxunge/QJSONConfig
