<?xml version="1.0" encoding="UTF-8"?>
<!--
For Windows Only
-->
<Installer>
    <Name>FreePictureSplitter</Name>
    <Version>3.0.0</Version>
    <Title>FreePictureSplitter 3.0.0</Title>
    <Publisher>zxunge</Publisher>
    <ProductUrl>https://github.com/zxunge/FreePictureSplitter</ProductUrl>
    <InstallerWindowIcon>fps</InstallerWindowIcon>
    <InstallerApplicationIcon>fps</InstallerApplicationIcon>
    <Logo>fps.png</Logo>
    <StartMenuDir>FreePictureSplitter</StartMenuDir>
    <TargetDir>@ApplicationsDir@/FreePictureSplitter</TargetDir>
    <RunProgram>@TargetDir@/FreePictureSplitter.exe</RunProgram>
    <RunProgramDescription>Run FreePictureSplitter now</RunProgramDescription>
    <MaintenanceToolName>FPSMaintenancer</MaintenanceToolName>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <AllowSpaceInPath>true</AllowSpaceInPath>
    <Translations>
        <Translation>ifw_de</Translation>
        <Translation>ifw_zh_CN</Translation>
        <Translation>ifw_zh_TW</Translation>
        <Translation>ifw_fr</Translation>
        <Translation>ifw_it</Translation>
        <Translation>ifw_ja</Translation>
        <Translation>ifw_pl</Translation>
        <Translation>ifw_tr</Translation>
        <Translation>ifw_uk</Translation>
        <Translation>qt_de</Translation>
        <Translation>qt_zh_CN</Translation>
        <Translation>qt_zh_TW</Translation>
        <Translation>qt_fr</Translation>
        <Translation>qt_it</Translation>
        <Translation>qt_ja</Translation>
        <Translation>qt_pl</Translation>
        <Translation>qt_tr</Translation>
        <Translation>qt_uk</Translation>
    </Translations>
    <SupportsModify>true</SupportsModify>
    <WizardStyle>Modern</WizardStyle>
</Installer>